@import "variables/colors";

.woocommerce-result-count,
.orderby {
  display: none;
}

.content-area a:link,
.content-area a:visited,
.content-area a {
  text-decoration: none;
}

#proceed-to-checkout-button {
  background-color: $orange;
  &:hover {
    background-color: $orange-hover;
  }
}

.product {
  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background-color: $orange;
    text-align: center;
    &:hover {
      background-color: $orange-hover;
    }
  }
}

#payment {
  &.custom-checkout-payment {
    background-color: $lite-orange;
    .payment_box.payment_method_intuit_payments_credit_card,
    .payment_box.payment_method_paypal {
      background-color: $orange-hover;
      &:before {
        content: "";
        display: block;
        border: 1em solid $orange-hover;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: -0.75em;
        left: 0;
        margin: -1em 0 0 2em;
      }
    }
    .custom-place-order {
      background-color: $orange;
    }
  }
}

#custom-loop-products {
  li.product {
    h2.woocommerce-loop-product__title {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}

@media (min-width: 767.99px) {
  #custom-loop-products {
    height: 475px;
    li.product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  #custom-loop-products {
    li.product {
      width: 100%;
      padding: 1em;
      height: initial;
    }
  }
}
